
<p class="light-grey-font huge_font dotted-underline">
  <%= @article.title %>
</p>

<div id="tags_div" class="article_tag_list light-grey-font article-font">
  <p id="tags_title">Articles tagged with: </p>
  <ul id="tags_list">
     <%	 @article.tags.each do |tag| %>
    <li><%= link_to tag.tag_name, tagged_tag_articles_path(tag) %></li>
     <%	 end %>
  </ul>
</div>

<!-- The article body -->
<div class="article-body white-font article-font">
  <%= sanitize @article.render_to_html %>
</div>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Froblog.com&amp;send=true&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>

<!-- The list of comments -->
<div class="article-body white-font med_font">
	<h3 class="light-grey-font dotted-underline" style="width: 100%;">Comments</h3>
	<% if @article.comments.count > 0 %>
		<%= render :partial => "comments/comment", :collection => @article.comments %>
	<% else %>
		<p class="white-font small_font">There are no comments on this article yet</p>
	<% end %>
	
	<% if !@article.comments || @article.comments.count <= 0
		comment = Comment.new
	else
		comment = @article.comments[0]
	end %>

</div>



<div id="comment-form" class="article-body clear">
 	<%= render :partial => "comments/form", :object => @article %>
</div>

