<!DOCTYPE html>
<% user = check_and_return_user %>
<html>
<head>
	<%= stylesheet_link_tag "blog_styles", :cache => true %>
	<%= stylesheet_link_tag "scaffold", :cache => true %>
	<%= javascript_include_tag :all %>

	<script type="text/javascript">
		window.onload = function(){
			Effect.Fade("notice-div", {duration: 3.0 });
		}
		
	</script>
</head>
<body>
	<div id="header">
	 <%= create_blocks :width => 25, :height => 25, :columns => 35, :rows => 6, :class => "block" %>
		
		<div id="header_content" class="hdr_content">
			<p class="big_font opaque">~~~~~~~~~~EXOCORTEX~~~~~~~~~~</p>
			
			<ul class="nav med_font" id="nav_ul">
				<li>
					<%= link_to "Articles", "/" %>
				</li>
				<li>
					<%if current_user %>
						<p>Hello <%=  current_user.username %></p>
					<% end %>
				</li>
				<li>
					<% if !current_user %>
						<%= link_to "Login", new_user_session_path %>	
					<% else %>
					<%= link_to "Logout", destroy_user_session_path %>
					<% end %>
				</li>
				<% if current_user && current_user.roles.select {|r| r.name == "Publisher"}.count > 0 %>
				<li>
					<%= link_to "Administration", adminarticles_path %>
				</li>
				<% end %>
				
			</ul>
		</div>
		<% if flash[:notice] %>
			<div id="notice-div" class="notice blue-border">
				<p><%= flash[:notice] %></p>
			</div>
		<% end %>
		<% if flash[:error] %>
			<div id="error-div" class="errors red-border">
				<p><%= flash[:error] %></p>
			</div>
		<% end %>
	</div>
	
	<div id="content" class="light-grey-font">
		<%= yield :layout %>
	</div>
</body>
</html>
