<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "all" %>
	<%= javascript_include_tag 'all' %>
	

	<script type="text/javascript">
		window.onload = function(){
			Effect.Fade("notice-div", {duration: 4.0 });
		}
		
	</script>
</head>
<body>
	<div id="fb-root"></div>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<script type="text/javascript" charset="utf-8">
		FB.init({appId: '160343384030567', 
						 cookie:true,
						 status:true,
						 xfbml:true
						})
	</script>
	<div id="header">
	 <%= create_blocks :width => 25, :height => 25, :columns => 46, :rows => 4, :class => "block" %>
		
		<div id="header_content" class="hdr_content solid-underline">
			
			
			<ul class="nav med_font white-font" id="nav_ul">
				<li>
					<p class="big_font opaque">~~~~~~~~~~EXOCORTEX~~~~~~~~~~</p>
				</li>
				<li>
					<%= link_to "Articles", "/", {:class => 'white'} %>
				</li>
				<li>
					<%if current_user %>
						<p>Hello <%=  current_user.username %></p>
					<% end %>
				</li>
				<li>
					<% if !current_user %>
						<%= link_to "Login", new_user_session_path %>	
						<%= link_to "Sign up", new_user_registration_path %>
						Or
						
						<%= link_to image_tag("facebook-login-button.png",:alt =>"Sign in with facebook"), user_omniauth_authorize_path(:facebook)%>
					<% else %>
					<%= link_to "Logout", destroy_user_session_path %>
					<% end %>
				</li>
				<% if current_user && ((current_user.role? :publisher) || (current_user.role? :superuser)) %>
				<li>
					<%= link_to "Administration", adminarticles_path %>
				</li>
				<% end %>
				
			</ul>
		</div>
		<% if flash[:notice] %>
			<div id="notice-div" class="notice blue-border">
				<p><%= flash[:notice] %></p>
			</div>
		<% end %>
		<% if flash[:error] %>
			<div id="error-div" class="errors red-border">
				<p><%= flash[:error] %> </p>
			</div>
			<script type="text/javascript">
			    setTimeout("new Effect.Fade('error-div', {duration: 3.0});", 2000)
			  </script>
		<% end %>
	</div>
	
	<div id="content" class="light-grey-font">
		<%= yield :layout %>
	</div>
</body>
</html>
